.divBackgroundActivity{

    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    min-height: 100vh;
}

.divActivity-An-A{
    background-color: rgba(206, 185, 228, 0.781);
    border-radius: 30px;
}

.divCarsQuestion{
    width: 2px;

    background-color: rgba(206, 185, 228, 0.781);
    border-radius: 25px;
    border: 2px solid rgb(184, 143, 224) ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonA{
    background-color: rgba(68, 188, 243, 0.603);
    border-radius: 10px;
    height: 35px;
    width: 70px;
}
.buttonA:hover {
    transform:  scale(1.1);
    background-color: rgb(68, 188, 243);
    border-bottom: 2px solid rgba(68, 68, 68, 0.3);
}

.buttonAn{
    background-color: rgba(68, 100, 243, 0.603);
    border-radius: 10px;
    height: 35px;
    width: 70px;
}
.buttonAn:hover {
    transform:  scale(1.1);
    background-color: rgba(68, 100, 243, 0.863);
    border-bottom: 2px solid rgba(68, 68, 68, 0.3);
}

.txtSpanAnswer{
    font-size: 25px;
    font-weight: bold;


}